allow init sysfs_leds:lnk_file read;
allow init proc:file write;

allow init sysfs_mmc_host:file w_file_perms;

allow init {
  app_data_file
  system_app_data_file
  privapp_data_file
  vold_prepare_subdirs_exec
  shell_data_file
  adb_data_file
}:dir r_dir_perms;


allow init {
  seapp_contexts_file
  rs_exec
  dnsmasq_exec
  runas_exec
  sdcardd_exec
  sgdisk_exec
  simpleperf_app_runner_exec
  tcpdump_exec
  vold_prepare_subdirs_exec
}:file r_file_perms;

allow init netutils_wrapper_exec:file read;
