allow netmgrd hal_cne_hwservice:hwservice_manager find;

allow netmgrd self:capability { sys_resource };

get_prop(netmgrd, radio_prop)
get_prop(netmgrd, default_prop)
