dontaudit rild radio_core_data_file:file rw_file_perms;
dontaudit rild radio_core_data_file:dir { search remove_name };

get_prop(rild, vendor_rild_libpath_prop)
get_prop(rild, default_prop)
get_prop(rild, system_prop)
